################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/GerenciadorDeJogos
/GerenciadorDeJogos.Api/obj
/GerenciadorDeJogos.Domain/obj
/GerenciadorDeJogos.Test/obj
/obj/Docker
/GerenciadorDeJogos.Infrastructure/obj
/GerenciadorDeJogos.Application/obj
