version: '3.4'

services:
  gerenciadordejogos.api:
    image: ${DOCKER_REGISTRY-}gerenciadordejogosapi
    build:
      context: .
      dockerfile: GerenciadorDeJogos.Api/Dockerfile
    environment:
      TZ: America/Sao_Paulo    
    ports:
      - "44332:80"
    links:
      - gerenciar-jogo-mysql-db
    depends_on:
      - gerenciar-jogo-mysql-db
    networks:
      - gerenciar-jogo-network   
   
  gerenciar-jogo-mysql-db:
    image: gerenciar-jogo-mysql-db
    command: mysqld --default-authentication-plugin=mysql_native_password
    build:
      context: .
      dockerfile: GerenciadorDeJogos.Infrastructure/db/Dockerfile
    environment:
      TZ: America/Sao_Paulo
      MYSQL_ROOT_PASSWORD: RootPassword
      MYSQL_USER: jogo_user
      MYSQL_PASSWORD: jogo@123
      MYSQL_DATABASE: gerenciar-jogos
    ports:
      - "3301:3306"
    networks:
      - gerenciar-jogo-network

networks:
    gerenciar-jogo-network:
        driver: bridge